
.form {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;

    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
  }
  
  .form-field:focus {
    border-color: #0f7ef1;
  }
  
  .form > button {
    cursor: pointer;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }
  .modal {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }



  